@tailwind base;
@tailwind components;
@tailwind utilities;

.box { 
    @apply bg-white rounded-2xl
 }
 #custom-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0.1rem #7b7b7b;
	background-color: #eff0f2;
}
#custom-scroll::-webkit-scrollbar
{
	width: 0.1rem;
	background-color: #eff0f2;
}

#custom-scroll::-webkit-scrollbar-thumb
{
	background-color: #7b7b7b;
}
.rdt{
	@apply block p-2.5 w-full text-sm bg-gray-50 rounded-lg border border-gray-300  focus:border-blue-500 
}
.rdtPicker{
	@apply !p-4 rounded-xl
}